$bgcolor: rgb(56, 55, 55);

body{
    background-color: $bgcolor;

    main{
        display: flex;
        flex-direction: row;
        section{
            height: 100vh;
            overflow-x: scroll;
            width: 350px;
            float: left;
            img{
                width: 300px;
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
            }
        }

        div{
            a{
                display: inline-block;
                img{
                    width: 950px;
                    display: block;
                    margin-left: 10%;
                }
            }
        }
    }
}

.full {
    display: none;
    position: fixed;
    left: 30%;
    top: 2%;
    right: 5%;
    bottom: 3%;
    max-width: 900px;
    background-size: cover;
    padding-right: 20%;

    &:target {
        display: block;
    }
}

