body {
  background-color: #383737;
}
body main {
  display: flex;
  flex-direction: row;
}
body main section {
  height: 100vh;
  overflow-x: scroll;
  width: 350px;
  float: left;
}
body main section img {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
body main div a {
  display: inline-block;
}
body main div a img {
  width: 950px;
  display: block;
  margin-left: 10%;
}

.full {
  display: none;
  position: fixed;
  left: 30%;
  top: 2%;
  right: 5%;
  bottom: 3%;
  max-width: 900px;
  background-size: cover;
  padding-right: 20%;
}
.full:target {
  display: block;
}