.wrapper{
    width: 80%;
}

.table-header{
    background: rgb(231, 230, 230);
    border: 1px solid rgb(153, 152, 152);
    border-bottom: none;
}

.table{
    display: grid;
    grid-template-columns: 10% 25% 20% 20% 15% 10%;
    border: 1px solid rgb(153, 152, 152);
}

.table>div{
    border: 1px solid rgb(153, 152, 152);
    height: 30px;
}

.table input{
    width: 60%;
    margin-top: 5px;
    margin-left: 5px;
}

.footer-txt{
    display: inline-block;
    margin-left: 500px;
}

.table-nav{
    background: rgb(231, 230, 230);
    border: 1px solid rgb(153, 152, 152);
    border-top: none;
    padding: 5px;
}

.table-nav button{
    border: none;
    outline: none;
}

.table-nav button:hover{
    border: 1px solid green;
}

.table-nav button a{
    text-decoration: none;
    color: gray;
}

.table-nav button a:hover{
    color: green;
}
