.main-list{
    list-style-type: none;
    width: 200px;
    margin: 0;
    padding: 0;
}

.main-list ul{
    list-style-type: none;
    width: 150px;
    margin: 0;
    padding: 0;
}

.main-list > li{
    position: relative;
    padding: 0px 0px 10px 20px;
}

.main-list > li:hover {
    background: lightgreen;
    cursor: pointer;
}

.main-list > li{
   text-decoration:none;
}

.main-list li ul {
    position: absolute;
    display: none;
    top: 2px;
    left: 80px;
}

.main-list li:hover ul {
    display: block;
    cursor: pointer;
}

.main-list li ul li{
    text-align:left;
    background: #59C113;
    padding: 8px 0px 8px 10px;
}

.main-list li ul li:hover {
    background: #87DA50;
    cursor: pointer;
}