html{
    background: lightslategray;
}

.wrapper{
    margin-left: 25%;
}

.log{
    position: absolute;
    left: 5%;
    top: 8%;
}

.line{
    margin-top: 100px;
}

header{
    position: relative;
}

label{
    color: white;
    margin-left: 20px;
}

.login{
    position: absolute;
    left: 10%;
    top: 15%;
}

input, button{
    margin-left: 10px;
}

input{
    line-height: 20px;
}

button{
    width: 50px;
    height: 25px;
    background: lightgrey;
    border: none;
}

main h2{
    color: rgb(212, 212, 38);
    font-weight: 600;
}

main p{
    width: 75%;
    color: rgb(202, 199, 199);
}