.red{
    width: 100%;
    height: 100px;
    background-color: red;
    border-radius: 50px;
    position: relative;
    border: 1px solid red;
}

.black-big{
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 50px;
    position: absolute;
    border-right: 1px solid red;
    right: 0;
}

.black{
    width: 95%;
    height: 100%;
    background-color: black;
    border-radius: 50px;
    position: absolute;
    border: 1px solid red;
    box-sizing: border-box;
}