.main-table{
    width: 410px;
    border: 1px solid gray;
    border-radius: 2px;
    height: 310px;
    padding: 5px;
    color: #000033;
    background: linear-gradient(to top, #cfd8f7, white);
}

.main-input{
    width: 98%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid gray;
    background: linear-gradient(to bottom, #e0e5f7 10%, white 80%);
}

.main-input[placeholder]{
    font-size: 20px;
    color: black;
    text-align: end;
}

.main-table-tr{
    font-size: 12px;
    padding-left: 10px;
}

.second-table{
    width: 99%;
    border: 1px solid gray;
    padding-left: 10px;
    border-radius: 3px;
}

.radio{
    border: 1px solid gray;
    width: 80px;
    border-radius: 3px;
}

.radio label{
    font-size: 12px;
}

button{
    width: 100%;
    border: 1px solid rgb(160, 159, 159);
}

.last-tr{
    position: relative;
}

.last-tr button{
    position: absolute;
    top: 1px;
    bottom: 2px;
    background: linear-gradient(to top, #cfd8f7, white);
    font-size: 20px;
    transition: background 1s ease;
}

.letter button{
    font-size: 12px;
    background: transparent;
    height: 30px;
    width: 35px;
    transition: background 1s ease;
}

.letterm button{
    font-size: 10px;
    background: linear-gradient(to top, #cfd8f7, white);
    height: 30px;
    transition: background 1s ease;
}

.lettera button{
    font-size: 16px;
    background: transparent;
    height: 30px;
    width: 35px;
    transition: background 1s ease;
}

.third-table button{
    color: #232364;
}

.num button{
    font-size: 16px;
    background: linear-gradient(to top, #e4e7f1, white);
    height: 30px;
    width: 35px;
    transition: background 1s ease;
}

.numb button{
    font-size: 16px;
    background: linear-gradient(to top, #e4e7f1, white);
    height: 30px;
    width: 100%;
    transition: background 1s ease;
}

button:hover{
    background: linear-gradient(to top, #fac459, white);
}