h1{
    text-decoration: underline;
    color: blue;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    text-align: center;
}

.wrapper{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.main-table{
    border: 1px solid black;
    width: 60%;
}

.forms{
    margin-left: 20px;
    margin-top: 50px;
}

.forms form{
    margin-bottom: 50px;
}
