.container{
    width: 70%;
    margin: 0 auto;
}

h1{
    text-decoration: underline;
    color: blue;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    text-align: center;
}

.main{
    border: 1px solid gray;
    width: 53%;
    padding-bottom: 8px;
    padding-left: 8px;
}

.floating{
    float: left;
    margin-right: 30px;
}

.top{
    margin-top: 30px;
}

fieldset{
    width: 230px;
    height: 150px;
}

legend{
    text-align: center;
}

.check-price{
    margin-left: 20px;
    margin-top: 50px;
}

.check-price form{
    margin-bottom: 50px;
}
