*html{
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    width: 300px;
    height: 300px;
    background: rgb(141, 151, 161);
    padding-left: 10px;
    margin: 0 auto;
}

h2{
    font-weight: 200;
    color: lightgray;
    padding-top: 15px;
}

.td-first{
    font-style: italic;
    color: rgba(255, 255, 255, 0.836);
}

.td-second{
    color: white;
}

.td-grey{
    color: lightgray;
}

td{
    vertical-align: top;
}

.circle{
    width: 10px;
    height: 10px;
    background: lightgreen;
    border-radius: 50%;
    top: -10px;
    position: absolute;
    left: 5px;
}
.align{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 15px;
}

.txt{
    position: absolute;
    left: 20px;
    top: -15px;
}

.red{
    color: red;
    font-weight: 600;
}

.orange{
    color: orange;
    font-weight: 600;
}

