html{
    background-color: rgb(220, 223, 226);
}

.container{
    display: flex;
    flex-direction: row;
}

.logo img{
    width: 20px;
    float: left;
    margin-right: 10px;
}

nav{
    width: 15%;
}

ul{
    margin: 0;
    padding: 0;
}

h3{
    margin-bottom: 0;
    color: tomato;
    font-size: 16px;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}

main{
    border: 2px solid gray;
    background-color: white;
    width: 70%;
}

.btn-prev{
    background-image: url(arrow-prev.png);
    background-position: left;
    background-repeat: no-repeat;
    width: 120px;
    background-color: transparent;
    margin-left: 10px;
}

.btn-next{
    background-image: url(arrow-next.png);
    background-position: right;
    background-repeat: no-repeat;
    width: 120px;
    background-color: transparent;
}

h1{
    margin-left: 10px;
}

.gray{
    height: 20px;
    color: white;
    background-color: gray;
    font-size: 18px;
    font-weight: 600;
    padding-left: 5px;
}

main img{
    float: left;
    margin-left: 10px;
}

.tutorial{
    width: 70%;
    font-size: 18px;
    margin-left: 230px;
}

main a{
    margin-left: 30px;
    font-size: 18px;
    color: red;
}

main a:hover{
    text-decoration: underline;
}

.example{
    font-size: 18px;
    margin-left: 10px;
}
aside{
    width: 15%;
}

.first{
    width: 100%;
    border: 1px solid grey;
    background-color: white;
}

.mar{
    padding-left: 40px;
    margin-top: 0;
}

.first input{
    margin-left: 10px;
}

.first a{
    padding-left: 10px;
    font-size: 12px;
    color: red;
    display: table-cell;
    text-align: center;
}

.first a:hover{
    text-decoration: underline;
}

.first button{
    border: none;
    width: 100px;
    height: 40px;
    background-color: rgb(134, 236, 226);
    margin-left: 50px;
    color: rgb(7, 184, 184);
}