body{
    section{
        width: 75%;
        float: left;
        color: white;

        article{
            margin: 20px;
            padding: 20px;
            border: 2px solid black;
            border-radius: 15px;
        }
    }
}