@import 'reset';

.clearfix {
    zoom: 1;
    &:after {
      display: block;
      height: 0;
      content: "";
      clear: both;
    }
}

div{
    @extend .clearfix;
}


@mixin bg-color {
    background-color:  rgba(179, 94, 243, 0.9);
}

$myBackground: linear-gradient(to top, #5c1b8d 10%,  #8a38c9 40%,  #b470e7 70%);
$myFont: 14px normal Arial;
$myColor: white;

body{
    background: $myBackground;
    font: $myFont;
    color: $myColor;

    header{
        padding-top: 25px;
        padding-bottom: 5px;
        padding-right: 15px;
        padding-left: 15px;

        nav{
            display: inline-block;
            width: 75%;
            margin: 20px 20px 20px 20px;
            padding: 12px;
            border: 2px solid #000;
            border-radius: 15px;

            ul{
                li{
                    ul{
                       @include bg-color();
                        position: absolute;
                        display: none;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}

.decor{
    text-decoration: none;
}

.test{
    @extend .decor;
    color: #a8a8a8;
    &:hover {
        text-decoration: underline;
    }
}