body{
    section{
        width: 75%;
        float: left;
        color: white;

        article{
            margin: 20px;
            padding: 20px;
            border: 2px solid black;
            border-radius: 15px;
        }
    }
}

.clearfix {
    zoom: 1;
    &:after {
      display: block;
      height: 0;
      content: "";
      clear: both;
    }
}

div{
    .clearfix;
}

@bg-color:  rgba(179, 94, 243, 0.9);
@violet:  #8a38c9;
@myBackground: linear-gradient(to bottom, @violet +  #b470e7, @violet -  #b470e7);
@myFont: 14px normal Arial;
@myColor: white;

body{
    background: @myBackground;
    font: @myFont;
    color: @myColor;

    header{
        padding-top: 25px;
        padding-bottom: 5px;
        padding-right: 15px;
        padding-left: 15px;

        nav{
            display: inline-block;
            width: 75%;
            margin: 20px 20px 20px 20px;
            padding: 12px;
            border: 2px solid #000;
            border-radius: 15px;

            ul{
                li{
                    ul{
                       background-color:  @bg-color;
                        position: absolute;
                        display: none;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}

.decor{
    text-decoration: none;
}

.test{
    .decor;
    color: #a8a8a8;
    &:hover {
        text-decoration: underline;
    }
}
