body section {
    width: 75%;
    float: left;
    color: white;
  }
  body section article {
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 15px;
  }
  .clearfix {
    zoom: 1;
  }
  .clearfix:after {
    display: block;
    height: 0;
    content: "";
    clear: both;
  }
  div {
    zoom: 1;
  }
  div:after {
    display: block;
    height: 0;
    content: "";
    clear: both;
  }
  body {
    background: linear-gradient(to bottom, #ffa8ff, #000000);
    font: 14px normal Arial;
    color: #ffffff;
  }
  body header {
    padding-top: 25px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
  }
  body header nav {
    display: inline-block;
    width: 75%;
    margin: 20px 20px 20px 20px;
    padding: 12px;
    border: 2px solid #000;
    border-radius: 15px;
  }
  body header nav ul li ul {
    background-color: rgba(179, 94, 243, 0.9);
    position: absolute;
    display: none;
    border-radius: 5px;
  }
  .decor {
    text-decoration: none;
  }
  .test {
    text-decoration: none;
    color: #a8a8a8;
  }
  .test:hover {
    text-decoration: underline;
  }
  