.container{
    width: 50%;
    left: 20%;
    height: 55%;
    border: 1px solid turquoise;
    border-radius: 5px;
    background-color: rgb(58, 87, 87);
    position: absolute;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

.nav{
    position: relative;
}

.nav li{
    float: left;
    width: 90px;
    height: 30px;
    background-color: lightslategray;
    padding: 10px;
    margin: 2px;
}

.nav li a{
    color: lightsteelblue;
}

.nav li a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.nav ul li:first-child{
    background-color: transparent;
}

.news{
    width: 45%;
    position: relative;
    top: 0px;
    left: 0;
    overflow: auto;
}

img{
    float: right;
    position: relative;
    bottom: 300px;
    right: 25px;
}

.news ul li{
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
    margin: 0px;
}

.news ul li a{
    color: lightsteelblue;
}

.news ul li:hover{
   background-color: turquoise;
}

.news ul li a:hover{
    color: white;
}

.news ul li:first-child{
    border-top: 1px solid gray;
    height: 30px;
}