body {
    background: white;
    color: darkblue;
    font-family: Verdana;
}

a {
    color: darkblue;
    text-decoration: none;
}

input {background: #e0e0e0;border: 1px solid #949494; width: 180px;height: 25px;padding-left: 10px;background: white; color: black; }

.task{
    display: flex;
    flex-direction: row;
}

.task li{
    margin-right: 30px;
    list-style: none;
}

.task li a:hover{
    color: lawngreen;
}

.btn{
    margin-top: 10px;
    margin-left: 25px;
    height: 30px;
    width: 250px;
}

.array{
    margin-bottom: 5px;
}

.root{
    margin-left: 20px;
}

.lonelyDiv{
    width: 500px;
    height: 50px;
    border: 4px solid darkblue;
    margin-top: 20px;
}

.divWithChildren{
    width: 500px;
    height: 300px;
    border: 4px solid darkblue;
    margin-top: 70px;
}

.child{
    width: 400px;
    height: 100px;
    border: 4px solid darkblue;
    margin-top: 25px;
    margin-left: 40px;
}

div#main {
    height: 600px;
    width: 600px;
    position: absolute;
    top: 140px;
    left: 40px;
    border: 4px solid green;
    background-color: black;
}
div.circle {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
}