.task{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.task li{
    margin-right: 20px;
    font-size: 20px;
}

.trash_close{
    background-image: url(trash-close.jpg);
    width: 215px;
    height: 340px;
    position: absolute;
    top: 90px;
    left: 110px;
}

.trash_open{
    background-image: url(trash-open.jpg);
    width: 215px;
    height: 340px;
    position: absolute;
    top: 90px;
    left: 110px;
}

.logo{
    position: absolute;
}

/*img.logo{
    cursor: move;
    width: 100px;
    position: absolute;
    z-index: 1;
  }
  img.logo.moving{
    pointer-events: none;
  }

.trash_close{
    background-image: url(trash-close.jpg);
    width: 215px;
    height: 340px;
    position: absolute;
    top: 90px;
    left: 110px;
    margin-left: -100px;
}*/