.wrapper{
    height: 100%;
    width: 50%;
    margin: 0 auto;
    background-color: rgb(247, 249, 252);
    border-radius: 10px;
}

h2{
    margin-top: -5px;
    margin-left: 20px;
    font-weight: 200;
    padding-top: 20px;
}

article{
    border: 2px solid gray;
    width: 520px;
    height: 220px;
    background-color: white;
    margin: 20px auto;
}

article img{
    float: left;
    margin-top: 25px;
    margin-left: 20px;
}

.article-info{
    width: 230px;
    margin-left: 290px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.footer-btn{
    width: 45%;
    margin-left: 300px;
}

.btn{
    background-image: url(btn.png);
    border: none;
    width: 90px;
    height: 33px;
    color: white;
    margin-right: 5px;
}


