﻿body {
    background: black;
    color: white;
    font-family: Verdana;
}
#console {
    overflow: auto;
    border: 1px solid #00FF00;
    margin: 20px 0 0 0px;
    color: #00FF00;
}

a {
    color: white;
    text-decoration: none;
}

header {
    background: #535353;
    height: 20px;
    margin: 0 0 20px 0px;
    padding: 20px;
}

button {background: #e0e0e0;border: 1px solid #949494; width: 192px;height: 30px;padding-left: 0px; color: #1c1c1c;}
input {background: #e0e0e0;border: 1px solid #949494; width: 180px;height: 25px;padding-left: 10px;background: #282828; color: #e0e0e0; }

.current {
    font-weight: bold;
    text-decoration: underline;
}

.task{
    display: flex;
    flex-direction: row;
}

.task li{
    margin-right: 30px;
    list-style: none;
}

.task li a:hover{
    color: lawngreen;
}

.btn{
    margin-top: 10px;
    margin-left: 100px;
}

.btn1{
    margin-top: 10px;
    margin-left: 60px;
}

.array{
    margin-bottom: 5px;
}

.txt{
    margin-left: 10px;
    height: 100px;
    width: 190px;
}

.checkbox{
    padding-top: 20px;
}

.label{
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.selection{
    margin-left: 100px;
}

.str{
    margin-bottom: 10px;
    margin-left: 10px;
}

.btn4{
    margin-left: 55px;
    margin-top: 10px;
}