*html{
    font-family: Arial, Helvetica, sans-serif;
}

.table{
    width: 40%;
    margin: 30px auto;
    border: 1px solid lightgray;
}

img{
    margin-right: 10px;
}

td{
    border-top: none;
    border-bottom: none;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

tr:first-child{
    background: rgb(70, 214, 70);
    border: 1px solid lightgray;
    color: white;
}

.gray{
    background: rgb(241, 240, 240);
}