@font-face {
    font-family: Edwardian Script ITC;
    src: url(11722.ttf);
}

@font-face {
    font-family: Consola;
    src: url(consola.ttf);
}

.first{
    font-family: Edwardian Script ITC;
    font-size: 40px;
}

.lorem{
    color: turquoise;
    width: 800px;
    font-family: Consola;
}

.lorem::first-line{
    font-weight: 600;
}